@using web.Models;
@model IEnumerable < Person >


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person Index</h2>

<div>
	<table>
		<thead>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Birthday</td>
				<td>View</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody>
		@foreach(Person p in @Model)
		{
			
			<tr>
				<td>@p.FirstName</td>
				<td>@p.LastName</td>
				<td>@p.BirthDate</td>
				<td>
				<a href=@Url.Action("Details", "Person", new { Id = p.Id }) >
    				<button class = "btn btn-sm btn-info">view</button>
				</a>

				</td>
				<td>@Html.ActionLink( "edit", "Edit", "Person", new { Id = p.Id }, new { @class = "btn btn-sm btn-primary"})</td>
				@using (Html.BeginForm("Delete", "Person", new { Id = p.Id }))
            		{
				<td>
					
						<input type="submit" 
							value="Delete" 
							class="btn btn-sm btn-danger" 
							style="vertical-align: bottom"
							onclick="return confirm('Create new project with = @p.FirstName');" />
					
				</td>
				}
			</tr>
		}
			
		</tbody>
	</table>

	@Html.ActionLink("Create New", "Create", "Person", null, new { @class = "btn btn-sm btn-success"})

</div>

<script>
 $(document).ready(function () {
 	 	$("#menu li").removeClass("active");
 	 	$('#person').addClass('active');
    });
</script>
